 	<!-- FOOTER -->
    <footer class="strap-footer">
        <div class="container text-white">
            <div class="row vert-padded">

                <div class="col-xs-12 col-sm-4">
                    <p class="source-org copyright">&copy; 2015 Strap. Made with <i class="icon-heart"></i> in OTR, USA.</p>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <nav role="navigation">
                        <ul class="text-center">
                            <li class="inline-block"><a href="/docs">SDK + Docs</a>
                            </li>
                            <li class="inline-block"><a href="http://blog.straphq.com/">Blog</a>
                            </li>
                            
                            <li class="inline-block"><a href="https://strap.uservoice.com/">Support</a>
                            </li>
                            <li class="inline-block"><a href="/login">Login</a>
                            </li>
                            <li class="inline-block"><a href="/register">Register</a>
                            </li>
                            <li class="inline-block"><a href="/terms">Terms</a>
                            </li>
                            <li class="inline-block"><a href="/privacy">Privacy</a>
                            </li>
                            <li class="inline-block"><a href="/company">Company</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <h2>
                        <a href="https://www.facebook.com/getstrap" target="_blank"><i class="icon-facebook"></i></a>  <a href="https://twitter.com/getstrap" target="_blank"><i class="icon-twitter"></i></a>  <a href="https://github.com/strap/" target="_blank"><i class="icon-github"></i></a>
                    </h2>
                </div>
            </div>
        </div>
    </footer>
    <!-- end FOOTER -->