	<!-- HEADER -->
	<div class="header">
            <div class="navbar-wrapper navbar-home">
                <div id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="main-mobile-menu navbar-collapse collapse navbar-left">
                                    <div type="button" class="btn btn-icon btn-secondary btn-sm navbar-toggle" data-toggle="collapse" data-target=".main-mobile-menu.navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <i class="icon-close"></i>
                                    </div>
                                <ul class="visible-xs nav navbar-nav">     
                                    <li>
                                        <a class="text-center" data-toggle="collapse" data-target=".main-mobile-menu.navbar-collapse" href="http://blog.straphq.com/">Blog</a>
                                    </li>
                                    <li>
                                        <a class="text-center" data-toggle="collapse" data-target=".main-mobile-menu.navbar-collapse" href="https://docs.straphq.com/">SDK + Docs</a>
                                    </li>
                                    <li>
                                        <a class="text-center" data-toggle="collapse" data-target=".main-mobile-menu.navbar-collapse" href="https://www.straphq.com/company">Company</a>
                                    </li>
                                    <li>
                                        <a class="text-center" data-toggle="collapse" data-target=".main-mobile-menu.navbar-collapse" href="http://hacks.straphq.com">Hackathons</a>
                                    </li>
                                    <li>
                                        <div class="text-center vert-padded">
                                            <a class="padded" href="https://www.facebook.com/getstrap"><i class="icon-facebook"></i></a>  <a class="padded" href="https://twitter.com/getstrap"><i class="icon-twitter"></i></a>  <a class="padded" href="https://github.com/strap/"><i class="icon-github"></i></a>
                                        </div>
                                    </li>
                                    <li class="padded full left">
                                        <div class="">
                                            <div class="col-xs-6">
                                                <a class="full btn btn-secondary btn-sm text-center" data-toggle="collapse" data-target=".navbar-collapse" href="https://my.straphq.com/login">Login</a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a class="full btn btn-secondary btn-sm text-center" data-toggle="collapse" data-target=".navbar-collapse" href="https://my.straphq.com/register">Sign Up for Free</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-25 col-sm-4">
                                <div class="main-menu navbar-left">
                                    <ul class="hidden-xs nav navbar-nav">
                                        <li>
                                            <a class="btn btn-secondary btn-sm" href="https://my.straphq.com/register">Sign Up for Free</a>
                                        </li>
                                        <li>
                                            <a class="" href="https://my.straphq.com/login">Login</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-15 col-sm-4 col-xs-12 ">
                                <div class="navbar-header full left">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-mobile-menu.navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand col-sm-12 scrollToLink text-center" href="https://www.straphq.com/">
                                        <img class="img-responsive center" src="/img/strap-logo@2.png" alt="Strap" title="Strap - The only platform that goes everywear." />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-25">
                                <div class="main-menu navbar-right">
                                    <ul class="hidden-xs nav navbar-nav">
                                        <li>
                                            <a href="https://docs.straphq.com">SDK + Docs</a>
                                        </li>
                                        <li>
                                            <a href="http://blog.straphq.com/">Blog</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="https://www.straphq.com/company">Company</a>
                                                <li><a href="http://hacks.straphq.com">Hackathons</a>
                                                </li>
                                                <li><a href="http://www.angel.co/strap/jobs">Job Openings</a>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- end HEADER -->