        <!-- HEADER -->
        <div class="header">
            <div class="navbar-wrapper navbar-home">
                <div id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="row">
                        <div class="main-mobile-menu navbar-collapse collapse navbar-left">
                                <div type="button" class="btn btn-icon btn-secondary btn-sm navbar-toggle" data-toggle="collapse" data-target=".main-mobile-menu.navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="icon-close"></i>
                                </div>
                            <ul class="visible-xs nav navbar-nav">     
                                <li>
                                    <a class="text-center" data-toggle="collapse" data-target=".main-mobile-menu.navbar-collapse" href="https://www.curanexus.io/resources">Resources</a>
                                </li>
                                <li>
                                    <a class="text-center" data-toggle="collapse" data-target=".main-mobile-menu.navbar-collapse" href="https://docs.curanexus.io/">SDK + Docs</a>
                                </li>
                                <li>
                                    <a class="text-center" data-toggle="collapse" data-target=".main-mobile-menu.navbar-collapse" href="https://www.curanexus.io/company">Company</a>
                                </li>
                                <li>
                                    <div class="text-center vert-padded">
                                        <a class="padded" href="https://www.facebook.com/getstrap"><i class="icon-facebook"></i></a>  <a class="padded" href="https://twitter.com/getstrap"><i class="icon-twitter"></i></a>  <a class="padded" href="https://github.com/strap/"><i class="icon-github"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 navbar-header-wrap">
                            <div class="navbar-header full left">
                                <button type="button" class="navbar-toggle btn btn-icon" data-toggle="collapse" data-target=".main-mobile-menu.navbar-collapse">
                                    <i class="icon-menu"></i>
                                </button>
                                <a class="navbar-brand scrollToLink text-center" href="https://www.curanexus.io/">
                                    <img class="img-responsive" src="/img/strap-logo@2.png" alt="curaNEXUS" title="curaNEXUS - The only platform that goes everywear." />
                                </a>
                            </div>
                        </div>
                        <!-- Removed 8/10/2018 -->
                        <div class="navbar-right right hidden-xs" style='display: none'>
                                <div class="dropdown right">
                                    <a href="#" class="dropdown-toggle btn btn-icon" data-toggle="dropdown"><div class="dropdown-menu-nub"></div><i class="icon-menu"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://www.curanexus.io/resources">Resources</a></li>
                                        <li><a href="https://www.curanexus.io/company">About</a></li>
                                        <li><a href="https://docs.curanexus.io">Documentation</a></li>
                                        <li><a href="http://www.angel.co/strap/jobs">Job Openings</a></li>

                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end HEADER -->