
				<!-- Hero
            ================================================== -->
            <div id="home-hero">
                <div class="hero-text">
                    <div class="container">
                        <h1 class="text-center">The only platform that goes every<b>wear</b>.<sup><small>™</small></sup></h1>
                        <form id="hero-register-form">
                           
                            <div class="form-field-button-combo">
                                <input class="form-control account-email" placeholder="Email" type="email" id="account-email" />
                                <span><input class="btn btn-primary" type="submit" id="hero-register-form-submit" value="Sign Up for Free" /></span>
                            </div>
                        </form>
                        <h4 class="full left text-center login">or <a class="" href="/login">Login</a>
                            </h4>
                    </div>
                </div>    
            </div>
            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->
            <div class="products-sections">
                <section id="kit">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="full product-logo-text">
                                    <img class="text-center center" src="/img/kit-logo.png" alt="Strap Kit" title="Strap Kit - Write once. Go everywear." />
                                    <h2 class="product-logo-byline">Write once. <br>Go every<b>wear</b>.<sup><small>&trade;</small></sup></h2>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 pull-right">
                                <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="/img/kit-graphic.png" media="(min-width: 481px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img class="text-center center" src="/img/kit-graphic-m.png"  alt="Strap Kit" title="Strap Kit - Write once. Go everywear." />
                                </picture>
                                <!-- <img class="text-center center" src="/img/kit-graphic.png" alt="Strap Kit" title="Strap Kit - Write once. Go everywear." /> -->
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="full left">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#cross-platform-tab" data-toggle="tab">Cross-platform</a>
                                        </li>
                                        <li><a href="#built-in-analytics-tab" data-toggle="tab">Built-in Analytics</a>
                                        </li>
                                        <li><a href="#open-source-tab" data-toggle="tab">Open Source</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active fade in" id="cross-platform-tab">
                                            <div class="full">
                                                <p>Reduce the strain of learning multiple languages and APIs. Write in JavaScript and deploy across multiple platforms including Pebble, Android Wear, Google Glass, Tizen, and Apple Watch.</p>
                                                <p>Pebble + Android Wear coming in January 2015.</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="built-in-analytics-tab">
                                            <div class="full">
                                                <p>When you develop your app with Strap Kit we do the heavy lifting of integrating metrics into your project. With our feature rich developers toolkit you can develop and understand usage inside the same environment.</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="open-source-tab">
                                            <div class="full">
                                                <p>We're excited to be building an amazing developer community around wearable technology, and we're doing it open source.</p>
                                            <p><a class="btn btn-secondary btn-sm vert-margined" href="https://www.github.com/strap/strapkit_cli"><i class="icon-github"></i> Join us on Github</a>
                                            </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="connect">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="full product-logo-text">
                                    <img class="text-center center" src="/img/connect-logo.png" alt="Strap Connect" title="Strap Connect - At the heart of everywear." />
                                    <h2 class="product-logo-byline">At the heart of every<b>wear</b>.<sup><small>&trade;</small></sup></h2>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 pull-right">
                                <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="/img/connect-graphic.png" media="(min-width: 481px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img class="text-center center" src="/img/connect-graphic-m.png"  alt="Strap Connect" title="Strap Connect - At the heart of everywear." />
                                </picture>
                                <!-- <img class="text-center center" src="/img/connect-graphic.png" alt="Strap Connect" title="Strap Connect - At the heart of everywear." /> -->
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="full left">
                                    <p>Link your existing application to wearable devices and take advantage of unique sensory data and analytics.</p>
                                    <p>To find out more about using Strap Connect in your app contact us below.</p>
                                    <ul class="nav nav-tabs hidden-xs">
                                        <li class="active">
                                            <a href="#connect-call-us-tab" data-toggle="tab">Call Us</a>
                                        </li>
                                        <li>
                                            <a href="#connect-email-us-tab" data-toggle="tab">Email Us</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content hidden-xs">
                                        <div class="tab-pane active fade in" id="connect-call-us-tab">
                                            <a class="btn btn-secondary btn-sm vert-margined" href="tel:513-977-6363">513-977-6363</a>
                                        </div>
                                        <div class="tab-pane fade" id="connect-email-us-tab">
                                            <form id="connect-contact-form" class="vert-padded">
                                               
                                                <div class="fields">
                                                    <input class="form-control full" placeholder="Email" type="email" id="connect-contact-email" />
                                                    <textarea class="form-control full" placeholder="Message" id="connect-contact-message"></textarea>
                                                </div>
                                                <input class="btn btn-primary btn-sm" type="submit" id="connect-contact-signup-btn" value="Send Email" />
                                            </form>
                                        </div>
                                    </div>
                                    <a class="visible-xs btn btn-secondary btn-sm" href="mailto:support@straphq.com?Subject=Strap%20Connect%20Inquiry">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="metrics">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="full left product-logo-text">
                                    <img class="text-center center" src="/img/metrics-logo.png" alt="Strap Metrics" title="Strap Metrics - Simple, brilliant insight." />
                                    <h2 class="product-logo-byline">Simple, brilliant <b>insight</b>.</h2>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 pull-right">
                                <picture>
                                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                                    <source srcset="/img/metrics-graphic.png" media="(min-width: 481px)">
                                    <!--[if IE 9]></video><![endif]-->
                                    <img class="text-center center" src="/img/metrics-graphic-m.png"  alt="Strap Metrics" title="Strap Metrics - Simple, brilliant insight." />
                                </picture>
                                <!-- <img class="text-center center" src="/img/metrics-graphic.png" alt="Strap Metrics" title="Strap Metrics - Simple, brilliant insight." /> -->
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="full left">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#real-time-tab" data-toggle="tab">Wearable App Metrics</a>
                                        </li>
                                        <li><a href="#beyond-visitors-tab" data-toggle="tab">Beyond Visitor Counts</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active fade in" id="real-time-tab">
                                            <div class="full">
                                                <p>Determine how exactly your users are using your wearable apps, while they are using them. We're building support for Pebble, Android Wear, Tizen, Glass and Apple Watch.</p>
                                                <p>It only takes 5 minutes to integrate. Use our out of the box reports to analyze your data, or create custom dashboards with our API and track custom metrics to paint the picture how you want to see it.</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="beyond-visitors-tab">
                                            <div class="full">
                                                <p>Our platform boasts a number of pre-built activity metrics derived from anonymous data trends. You don't need to be a data scientist to get the most out of Strap.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <form id="metrics-register-form" class="left">
                                       
                                        <div class="form-field-button-combo">
                                            <input class="form-control account-email" placeholder="Email" type="email" id="account-email-2" />
                                            <span><input class="btn btn-primary" type="submit" id="metrics-register-form-submit" value="Sign Up for Free" /></span>
                                        </div>
                                    </form>
                                    <span class="left padded login">or <a class="" href="/login">Login</a>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section id="updates">
                    <div class="container">
                        <div class="row">
                            <h1 class="text-center">Stay Updated</h1>
                            <form id="updates-register-form" action="action" class="text-center">
                                <div class="full center text-center">
                                    <span class="text-center register-checkbox"><input type="checkbox" value="1" id="product-updates-register"/> Product Updates</span><span class="text-center register-checkbox"><input type="checkbox" value="1" id="blog-register"/> Strap Blog</span>
                                </div>
                                <div class="form-field-button-combo">
                                    <input class="form-control" placeholder="Email" type="email" id="updates-register-email" />
                                    <span><input class="btn btn-primary" type="submit" id="updates-register-form-submit" value="Subscribe" /></span>
                                </div>
                            </form>
                            <img class="thumbs-up-left" src="/img/thumbs-up-left.png"/>
                            <img class="thumbs-up-right" src="/img/thumbs-up-right.png"/>
                        </div>
                    </div>
                </section>
            </div>
            <div id="video-hero">
                <div class="hero-text">
                    <div class="vert-center-wrap">
                        <div class=" vert-center">
                            <h1 class="text-center">Go every<b>wear</b>.<sup><small>™</small></sup></h1>

                            <div class="full text-center">
                                <div id="video-link">
                                    <!-- <img class="center play-button" src="/img/strap-video-play-button.png"/> -->
                                    <button class="play-button" type="button" data-toggle="modal" data-target="#myModal"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="supporters">
                <section class="supporters-wrap">
                    <div class="container text-center text-white">
                        <div class="row">
                            <div class="col-xs-6 col-md-15 center">
                                <a href="http://finance.yahoo.com/news/strap-first-deliver-power-analytics-135200304.html"><img class="text-center center" src="/img/yahoo-logo-white.png" alt="Yahoo!" title="Yahoo!" /></a>
                            </div>
                            <div class="col-xs-6 col-md-15 center">
                                <a href="http://www.ibtimes.com/no-betamax-your-wrist-startup-strap-looks-end-wearables-platform-wars-1732164"><img class="text-center center" src="/img/ibt-logo-white.png" alt="International Business Times" title="International Business Times" /></a>
                            </div>
                            <div class="col-xs-6 col-md-15 center">
                                <a href="https://developer.getpebble.com/blog/2014/07/02/Watch-analytics-with-strap/"><img class="text-center center" src="/img/pebble-logo-white.png" alt="Pebble" title="Pebble" /></a>
                            </div>
                            <div class="col-xs-6 col-md-15 center">
                                <a href="http://www.producthunt.com/posts/strap"><img class="text-center center" src="/img/product-hunt-logo-white.png" alt="Product Hunt" title="Product Hunt" /></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-15 center">
                                <a href="http://techcrunch.com/2014/07/18/the-brandery-accelerator-launches-its-latest-class"><img class="text-center center" src="/img/techcrunch-logo-white.png" alt="TechCrunch" title="TechCrunch" /></a>
                            </div>
                            <div class="col-xs-6 col-md-15 center">
                                <a href="https://www.meteor.com/"><img class="text-center center" src="/img/meteor-logo-white.png" alt="Meteor" title="Meteor" /></a>
                            </div>
                            <div class="col-xs-6 col-md-15 center">
                                <a href="http://brandery.org/"><img class="text-center center" src="/img/brandery-logo-white.png" alt="The Brandery" title="The Brandery" /></a>
                            </div>
                            <div class="col-xs-6 col-md-15 center">
                                <a href="https://modulus.io/"><img class="text-center center" src="/img/modulus-logo-white.png" alt="Modulus" title="Modulus" /></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
