    <section class="login-wrap">
        <div class="login-center sign-up">
            <div class="logo-animated" href="/" >

                <img class="text-center center img-responsive" src="/img/strap-icon-large.png" alt="Strap" title="Strap: Tools for Wearable Developers" />

                <span title="Strap: Tools for Wearable Developers" class="logo-text">STRAP</span>
                <h2 style="margin-left: -100px; margin-top: 30px">We are currently typing away on these docs...</h2>
            </div>
        </div>
    </section>