<div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 bg-gray-00 main">
    <div class="full">
        <div class="col-xs-12 col-md-6 text-white">
            <div class="col-xs-12 bg-strap-stars padded-20">
                <h1 class="text-center">New to Strap?</h1>
                <p>Glad you're here! Learn how to create wearable apps on Pebble and Android Wear in JavaScript with powerful app and user metrics built right in. Or, create native apps and use our Metrics platform to get the insights you need. </p>
                <a class="btn btn-primary btn-inverted" href="/home/get-started">Get Started</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 text-white">
            <div class="col-xs-12 bg-dark-coder padded-20">
            <h1 class="text-center">Already Started?</h1>
            <p>Dig into our guides or the API docs and make your apps better.<br/><br/><br/></p>

            <a class="btn btn-primary btn-inverted" href="/guides/strapkit">Guides</a><a class="btn btn-primary btn-inverted horiz-margined" href="/docs/get-started">API &amp; Docs</a>
        </div>
        </div>
    </div>
</div>