<div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 bg-gray-00 main">
    <div class="full">
        <div class="col-xs-12 col-md-6 text-white">
            <div class="col-xs-12 bg-strap-stars padded-20">
                <h1 class="text-center">Got a Mobile App?</h1>
                <p>Glad you're here! Learn how to intergrate wearable data into your mobile application. <br/><br/></p>
                <a class="btn btn-primary btn-inverted" href="/guides/mobile-ios"><i class="icon icon-iOS"></i> iOS</a>
                <a class="btn btn-primary btn-inverted" href="/guides/mobile-android"><i class="icon icon-android"></i> Android</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 text-white">
            <div class="col-xs-12 bg-dark-coder padded-20">
            <h1 class="text-center">Get the Data Server-Side</h1>
            <p>Checkout the server-side SDKs that will make your life a breeze grabbing data from Strap.<br/><br/></p>

            <a class="btn btn-primary btn-inverted" href="/guides/api-strap">API</a>
            <a class="btn btn-primary btn-inverted" href="/guides/server-gettingstarted">Server Side</a>
        </div>
    </div>
</div>
