<div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 bg-gray-00 main">
    <div class="full">
        <div class="col-xs-12 col-md-6 text-white">
            <div class="col-xs-12 bg-strap-stars padded-20">
                <h1 class="text-center">Got a Mobile App?</h1>
                <p>Glad you're here! Learn how to intergrate wearable data into your mobile application. <br/><br/></p>
                <a class="btn btn-primary btn-inverted" href="/guides/mobile-ios"><i class="icon icon-iOS"></i> iOS</a>
                <a class="btn btn-primary btn-inverted" href="/guides/mobile-android"><i class="icon icon-android"></i> Android</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 text-white">
            <div class="col-xs-12 bg-dark-coder padded-20">
            <h1 class="text-center">Get the Data Server-Side</h1>
            <p>Checkout the server-side SDKs that will make your life a breeze grabbing data from curaNEXUS.<br/><br/></p>

            <a class="btn btn-primary btn-inverted" href="/api/api-strap">API</a>
            <a class="btn btn-primary btn-inverted" href="/guides/server-gettingstarted">Server SDKs</a>
        </div>
    </div>
    <div class="full">
        <div class="col-xs-12 col-md-6">
            <h2>How does Mobile Integration work?</h2>
            <img src="/img/mobile-arch.png" title="Mobile Architecture" style="padding: 1.45em 0; background: #fff"/>
            <ol style="padding: 25px;">
                <li><b>ENABLE YOUR EXISTING MOBILE APPS</b><br />Take our software development kit for iOS and Android and integrate with a variety of fitness tracking and smart watch platforms from a single interface.</li>
                <li><b>LET CUSTOMERS CONNECT</b><br />Empower your users to bring their own device.</li> curaNEXUS works across platforms so no wearable is left out.</li>
                <li><b>USER LINK THEIR ACCOUNT TO YOUR APP</b><br />Customer authorizes your app on their account.</li>
                <li><b>PROVIDE PERSONAL METRICS</b><br />With our robust logic engine, you can display customer information in a common format, even if the information originally came from a combination of fitness trackers and smart watches.</li>
            </ol>
        </div>
    </div>
    <div class="full">
        <div class="col-xs-12 col-md-6">
            <h2>How does Server Integration work?</h2>
            <img src="/img/server-arch.png" title="Server Architecture"/>
            <ol style="padding: 25px;">
                <li><b>INTEGRATE OUR LIBRARY INTO YOUR SERVER CODE</b><br />Java, NodeJS, GoLang, PHP, Ruby, and Python.</li>
                <li><b>REQUEST DATA</b><br />Use the SDK to request data from our API.</li>
                <li><b>PUSH NOTIFICATIONS</b><br />Receive push notifications based on your custom triggers and use the SDK to grab the data.</li>
            </ol>
        </div>
    </div>
</div>
