            <div class="col-sm-2 col-md-1 bg-gray-03 sidebar sidebar-icons">
                <ul class="nav-icons">
                    <li>
                        <a href="/home/get-started" data-toggle="tooltip" data-placement="right" title="Get Started">
                            <i class="icon-power"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/guides/strapkit" data-toggle="tooltip" data-placement="right" title="Guides">
                            <i class="icon-notebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/docs/strapkit" data-toggle="tooltip" data-placement="right" title="Documentation">
                            <i class="icon-api"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://strap.uservoice.com/" target="_blank" data-toggle="tooltip" data-placement="right" title="Community Help">
                            <i class="icon-help"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/strap/" data-toggle="tooltip" data-placement="right" title="More">
                            <i class="icon-more-horiz"></i>

                        </a>
                    </li>
                </ul>
            </div>