    <% if(index) { %>
        <div class="col-sm-3 col-md-2 bg-gray-03 sidebar sidebar-icons home-sidebar">
    <% } else { %>
        <div class="col-sm-2 col-md-1 bg-gray-03 sidebar sidebar-icons">
    <% } %>
        <ul class="nav-icons nav-icons-home">
            <li>
                <a class="col-xs-15 col-sm-12" href="/home"  title="Get Started" data-toggle="tooltip" data-placement="right">
                    <i class="icon-power"></i>
                    <span class="visible-xs">Start</span><span class="hidden-xs">Get Started</span>
                </a>
            </li>
            <li>
                <a class="col-xs-15 col-sm-12" href="/guides/strapkit"  title="Guides" data-toggle="tooltip" data-placement="right">
                    <i class="icon-notebook"></i>
                    <span>Guides</span>
                </a>
            </li>
            <!-- <li>
                <a class="col-xs-15 col-sm-12" href="/docs/strapkit"  title="Documentation" data-toggle="tooltip" data-placement="right">
                    <i class="icon-api"></i>
                    <span class="visible-xs">Docs</span><span class="hidden-xs">API &amp; Docs</span>
                </a>
            </li> -->
            <li>
                <a class="col-xs-15 col-sm-12" href="https://strap.uservoice.com/" title="Community Help" data-toggle="tooltip" data-placement="right">
                    <i class="icon-help"></i>
                    <span class="visible-xs">Help</span><span class="hidden-xs">Support</span>
                </a>
            </li>
            <li>
                <a class="col-xs-15 col-sm-12" href="https://github.com/strap/" title="More" data-toggle="tooltip" data-placement="right">
                    <i class="icon-more-horiz"></i>
                    <span>More</span>

                </a>
            </li>
        </ul>
    </div>
