            <div class="col-sm-3 col-md-2 bg-gray-03 sidebar sidebar-icons">
                <ul class="nav-icons nav-icons-home">
                    <li>
                        <a href="/home/get-started"  title="Get Started">
                            <i class="icon-power"></i>
                            <span>Get Started</span>
                        </a>
                    </li>
                    <li>
                        <a href="/guides/strapkit"  title="Guides">
                            <i class="icon-notebook"></i>
                            <span>Guides</span>
                        </a>
                    </li>
                    <li>
                        <a href="/docs/get-started"  title="Documentation">
                            <i class="icon-api"></i>
                            <span>API &amp; Docs</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://strap.uservoice.com/" title="Community Help">
                            <i class="icon-help"></i>
                            <span>Support</span>
                        </a>
                    </li>
                    <li>
                        <a href="/home/test" title="More">
                            <i class="icon-more-horiz"></i>
                            <span>More</span>

                        </a>
                    </li>
                </ul>
            </div>