<div id="menu" class="col-sm-3 col-md-2 col-sm-offset-2 col-md-offset-1 bg-gray-02 sidebar">
    <div id="docs" class="horiz-padded" data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse">
        <a class="visible-xs dropdown-toggle inline-block left h3" data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="#"><i class="icon-list"></i></a>
        <h2  data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" >Documentation</h2>
        <ul id="sidebar_nav" class="nav navbar-collapse collapse text-left">

        </ul>
    </div>
    <div id="guides" class="horiz-padded" data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse">
        <a href="#" style="z-index:1;" class="visible-xs dropdown-toggle inline-block left h3" data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse"><i class="icon-list"></i></a>
        <h2 data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse">Guides</h2>
        <ul id="sidebar_nav" class="nav navbar-collapse collapse text-left">
            <li>
                <h3><a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/strapkit"><b>Build</b> - Strap Kit</a></h3>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/kit-gettingstarted">Get Started</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/kit-flow">Project Flow</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/kit-vm">Using the VM</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/kit-pebble">Pebble</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/kit-wear">Android Wear</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/kit-examples">Examples</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/kit-metrics">Metrics</a>
            </li>
            <li>
                <h3><a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/strapmetrics"><b>Measure</b> - Strap Metrics</a></h3>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/metrics-gettingstarted">Get Started</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/metrics-pebblec">Pebble C</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/metrics-pebblejs">Pebble.JS</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/metrics-wear">Android Wear</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/metrics-glass">Google Glass</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="/guides/metrics-tizen">Tizen</a>
            </li>
        </ul>
    </div>
</div>
