<div id="menu" class="col-sm-3 col-md-2 col-sm-offset-2 col-md-offset-1 bg-gray-02 sidebar">
    <div id="docs" class="horiz-padded" data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse">
        <a class="visible-xs dropdown-toggle inline-block left h3" data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" href="#"><i class="icon-list"></i></a>
        <h2  data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse" >Documentation</h2>
        <ul id="sidebar_nav" class="nav navbar-collapse collapse text-left">

        </ul>
    </div>
    <div id="api" class="horiz-padded" data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse">
        <a href="#" style="z-index:1;" class="visible-xs dropdown-toggle inline-block left h3" data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse"><i class="icon-list"></i></a>
        <h2 data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse">API</h2>
        <ul id="sidebar_nav" class="nav navbar-collapse collapse text-left">
            <li class="api section-part">
                <h3><a data-target="#sidebar_nav.navbar-collapse" href="/api/api-strap">API</a></h3>
            </li>
            <li>
                <h3><a data-target="#sidebar_nav.navbar-collapse" href="/api/notifications">Notifications</a></h3>
            </li>
        </ul>
    </div>
    <div id="guides" class="horiz-padded" data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse">
        <a href="#" style="z-index:1;" class="visible-xs dropdown-toggle inline-block left h3" data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse"><i class="icon-list"></i></a>
        <h2 data-toggle="collapse" data-target="#sidebar_nav.navbar-collapse">SDKs</h2>
        <ul id="sidebar_nav" class="nav navbar-collapse collapse text-left">
            <li class="guides section-part">
                <h3><a data-target="#sidebar_nav.navbar-collapse" href="/guides/mobile-gettingstarted">SDKs</a></h3>
                <ul id="menu-mobile" class="menu-part">
                    <li>
                        <a data-target="#sidebar_nav.navbar-collapse" href="/guides/mobile-javascript">Javascript SDK</a>
                    </li>
                    <li>
                        <a data-target="#sidebar_nav.navbar-collapse" href="/guides/mobile-android">Android SDK</a>
                    </li>
                    <li>
                        <a data-target="#sidebar_nav.navbar-collapse" href="/guides/mobile-ios">iOS SDK</a>
                    </li>
                </ul>
            </li>
            <li class="guides section-part">
                <h3><a data-target="#sidebar_nav.navbar-collapse" href="/guides/server-gettingstarted">Server SDKs</a></h3>
                <ul id="menu-server" class="menu-part">
                    <li>
                        <a data-target="#sidebar_nav.navbar-collapse" href="/guides/server-java">Java</a>
                    </li>
                    <li>
                        <a data-target="#sidebar_nav.navbar-collapse" href="/guides/server-node">NodeJS</a>
                    </li>
                    <li>
                        <a data-target="#sidebar_nav.navbar-collapse" href="/guides/server-go">GoLang</a>
                    </li>
                    <li>
                        <a data-target="#sidebar_nav.navbar-collapse" href="/guides/server-php">PHP</a>
                    </li>
                    <li>
                        <a data-target="#sidebar_nav.navbar-collapse" href="/guides/server-ruby">Ruby</a>
                    </li>
                    <li>
                        <a data-target="#sidebar_nav.navbar-collapse" href="/guides/server-python">Python</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
