<div id="menu" class="col-sm-3 col-md-2 col-sm-offset-2 col-md-offset-1 bg-gray-02 sidebar">
    <div id="docs" class="horiz-padded">
        <h2>Documentation</h2> 
        <ul id="sidebar_nav" class="nav">
            <li>
                <a href="/docs/strapkit">Strap Kit</a>
            </li>
            <li>
                <a href="/docs/dependencies">&nbsp;&nbsp;&nbsp;|- Dependencies</a>
            </li>
            <li>
                <a href="/docs/flow">&nbsp;&nbsp;&nbsp;|- Flow</a>
            </li>
            <li>
                <a href="/docs/elements">&nbsp;&nbsp;&nbsp;|- Elements</a>
            </li>
            <li>
                <a href="/docs/metrics">Metrics</a>
            </li>
        </ul>
    </div>
    <div id="guides" class="horiz-padded">
        <h2>Guides</h2> 
        <ul id="sidebar_nav" class="nav">
            <li>
                <a href="/guides/strapkit">Strap Kit</a>
            </li>
            <li>
                <a href="/guides/pebble">&nbsp;&nbsp;&nbsp;|- Pebble</a>
            </li>
            <li>
                <a href="/guides/wear">&nbsp;&nbsp;&nbsp;|- Wear</a>
            </li>
            <li>
                <a href="/guides/dependencies">Wear Dependencies</a>
            </li>
        </ul>
    </div>
</div>